@import './base.css';
@import "./vant.scss";

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: normal;
    background: var(--vt-c-background);
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: center;
    }

    #app {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }
}

.markdown-body {
    ol {
        padding-left: 0;
    }

    ul {
        padding-left: 1em;
    }


}

.text-red {
    color: #ff5252;
    font-size: 20px;
    line-height: 24px;
}

.is-lite-mode {
    opacity: 0.28;
    background: #55595e;

    .van-icon:before {
        color: #b1b1b1;
    }

    header {
        /*display: none;*/
        height: 30px;
        background: #55595e;
        color: #fff;

        span {
            font-size: 14px !important;
        }
    }

    footer, .van-pagination__item, .van-button {
        height: 25px;
    }

    .van-list .word-box {
        font-size: 14px;
        color: #c5c5c5 !important;

        .first-text, .second-text {
            min-height: 30px;
            div {
                font-size: 12px;
            }
        }
    }

    footer, article, li, .markdown-body, .van-popup, .van-overlay, .anno-textarea, .word-list-item, .van-cell {
        background: #595c63 !important;
    }

    .markdown-body {
        font-size: 12px;
        opacity: .8;
        h3 {
            font-size: 14px;
        }

        p, h3, hr {
            margin: 5px 0;
        }

        hr {
            height: 1px;
        }

        ol {
            margin: 0;
        }
    }
    h3 {
        font-size: 16px;
    }
    .text-red {
        color: #93ff9c;
        font-size: 16px;
        line-height: 20px;
    }

    .van-swipe-cell li {
        font-size: 14px;
        color: #fff !important;
    }

    .van-pagination__item--page:not(.van-pagination__item--active) {
        color: #b9c2ff;
    }

    .van-button {
        background: #52575c;
    }

    .triangle-btn:active {
        background: transparent;
    }

    .van-popup {
        padding: 6px;

        .close-box {
            margin-top: 0;
        }

    }
}